.App {
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
   display: flex;
}
.search-field{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.search-input{
  padding: 10px;
  width: 900px;
  border-radius: 25px;
  border: none;
  background-color: black;
  color: white;
  outline: none;
}

.search-button{
  background-color: red;
  border: none;
  padding: 10px;
  border-radius: 25px;
  margin-left: 3px;
  width: 100px;
  font-weight: bold;
}

.search-button:hover{
  background-color: black;
  color: white;
}